{% extends "base.html" %}
{% block title %} EventMe {% endblock %}
{% block main_content %}
    <h2> Welcome to the EventMe Management Site!</h2>
        <p1>
            <a href="http://ec2-50-18-129-223.us-west-1.compute.amazonaws.com/org-form/">Create an Organization</a> <br>
        </p1>
        
        <p2>
            <a href="http://ec2-50-18-129-223.us-west-1.compute.amazonaws.com/event-form/">Already created an organization? Make an event here!</a> <br>
            <a href="http://ec2-50-18-129-223.us-west-1.compute.amazonaws.com/orgs/">Click here for a list of created organizations.</a> <br>
            <a href="http://ec2-50-18-129-223.us-west-1.compute.amazonaws.com/data/">Click here to view all created events.</a> <br>
            Powered by Django
        </p2>
{% endblock %}
