{% extends "base.html" %}
{% block title %} EventMe {% endblock %}
{% block main_content %}
    <h2> Welcome to EventMe!</h2>
    <h3> The event management site!</h3>
        <p1>
            <a href="/org-form-style/">Create an Organization</a> <br>
        </p1>
        
        <p2>
            <a href="/event-form-style/">Already created an organization? Make an event here!</a> <br>
            <a href="/orgs/">Click here for a list of created organizations.</a> <br>
            <a href="/data/">Click here to view all created events.</a> <br><br><br>
            Powered by Django
        </p2>
{% endblock %}
